@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 350px;">
        <h3 class="text-center mb-4">Login</h3>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }

        <form method="post">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input name="username" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input name="password" type="password" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Entrar
            </button>
        </form>

        <div class="text-center mt-3">
            <a asp-action="Register">Criar conta</a>
        </div>
    </div>
</div>
